extends templates/standard

block append css
  link(rel='stylesheet', href='/css/directory-contents.css')

block content
  .row-fluid
    #results-list.span12
      h3 Contents of #{directory}
      #filter-wrap
        input.search.span12(id="filter", type="text", placeholder="Type to filter results")
      ul#results.list
        if (contents.length === 0)
          li.result.span12
            p.no-files-found No files found
        else
          each file, iter in contents
            .row-fluid
              li.result.span12(class="#{iter % 2 === 0 ? '' : 'odd'}")
                h4.result-num ##{iter + 1}
                p.filename #{directory}/#{file.directory}
                p.filename #{file.filename} : #{file.ext}
                p
                  a(href="/searchDirectory?directory=#{file.directory}") #{file.directory}

block append script
  script(src="/js/search-results.js")
