extends templates/standard

block append css
  link(rel='stylesheet', href='/stylesheets/search-results.css')

block content
  h1 Search Results
  #results-wrap
    each result, iter in results
      .result.clearfix(class="#{iter % 2 === 0 ? '' : 'odd'}")
        h2 ##{iter + 1}
        p [#{result.filename}]
        .audio-file
          audio(src="/sounds/#{result.filename}", controls)
            p Your browser doesn't support HTML5 audio
          p
            a(href="/sounds/#{result.filename}") #{result.filename}
